<div>
	<div class="login_wrapper">
		<form method="POST">
			<legend>Forgot Password</legend>
			<div class="form-group">
				<label for="email">Email</label>
				<input class="form-control" type="text" name="email" autofocus="autofocus"/>
			</div>
			<button class="btn btn-primary" type="submit">Reset Password</button>
		</form>
	</div>
</div>