.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.926758;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._b{width:23.100000px;}
._7{width:25.520000px;}
._3{width:27.984000px;}
._2{width:30.432000px;}
._4{width:32.880000px;}
._a{width:35.288000px;}
._9{width:37.752000px;}
._1{width:45.408000px;}
._8{width:47.520000px;}
._6{width:86.152000px;}
._0{width:142.779967px;}
._5{width:340.956000px;}
.fc1{color:rgb(17,85,204);}
.fc3{color:rgb(255,0,0);}
.fc2{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:24.000000px;}
.fs1{font-size:36.000000px;}
.fs2{font-size:44.000000px;}
.fs4{font-size:48.000000px;}
.fs6{font-size:56.000000px;}
.fs0{font-size:64.000000px;}
.fs3{font-size:80.000000px;}
.y4{bottom:3.459001px;}
.y2{bottom:6.150000px;}
.y3{bottom:36.000004px;}
.y0{bottom:38.000000px;}
.y3b{bottom:95.148987px;}
.y3a{bottom:107.797985px;}
.y39{bottom:120.446987px;}
.y23{bottom:130.687012px;}
.y38{bottom:133.095986px;}
.y3f{bottom:136.939984px;}
.y2c{bottom:148.378006px;}
.y37{bottom:158.393993px;}
.y2b{bottom:162.924005px;}
.y36{bottom:171.042995px;}
.y2a{bottom:177.470025px;}
.y35{bottom:183.691995px;}
.y29{bottom:192.400006px;}
.y34{bottom:208.989994px;}
.y33{bottom:221.638993px;}
.y32{bottom:240.287991px;}
.y31{bottom:252.936993px;}
.y30{bottom:265.585991px;}
.y19{bottom:321.779004px;}
.y1e{bottom:331.573002px;}
.y3e{bottom:335.362988px;}
.y1d{bottom:347.010002px;}
.y1c{bottom:356.866001px;}
.y3d{bottom:358.779992px;}
.y1b{bottom:371.796002px;}
.y14{bottom:375.439995px;}
.y3c{bottom:379.336010px;}
.y13{bottom:391.307996px;}
.y2f{bottom:418.096008px;}
.y2e{bottom:418.194013px;}
.y41{bottom:418.990991px;}
.y12{bottom:421.337986px;}
.y1a{bottom:428.586975px;}
.y2d{bottom:433.678002px;}
.y17{bottom:435.523014px;}
.y11{bottom:435.883987px;}
.y40{bottom:437.964013px;}
.y10{bottom:450.429986px;}
.y16{bottom:451.007012px;}
.y22{bottom:451.678998px;}
.yf{bottom:470.986004px;}
.ye{bottom:513.974008px;}
.yd{bottom:543.066003px;}
.yc{bottom:569.972000px;}
.yb{bottom:588.945000px;}
.y28{bottom:592.085999px;}
.ya{bottom:607.918000px;}
.y27{bottom:621.177998px;}
.y9{bottom:626.890999px;}
.y26{bottom:636.107999px;}
.y8{bottom:645.863999px;}
.y21{bottom:655.945000px;}
.y7{bottom:664.837000px;}
.y25{bottom:666.138002px;}
.y20{bottom:671.813001px;}
.y24{bottom:680.684001px;}
.y6{bottom:683.810000px;}
.y18{bottom:694.198002px;}
.y1f{bottom:701.240000px;}
.y15{bottom:708.744000px;}
.y5{bottom:709.682000px;}
.y1{bottom:756.297001px;}
.ha{height:17.496094px;}
.h5{height:26.244141px;}
.hc{height:32.033203px;}
.h6{height:32.076172px;}
.h8{height:34.945312px;}
.h9{height:34.992188px;}
.h2{height:35.702999px;}
.hb{height:40.769531px;}
.h3{height:46.593750px;}
.h4{height:47.604000px;}
.h7{height:58.320312px;}
.hd{height:301.903992px;}
.h1{height:722.500000px;}
.h0{height:792.000000px;}
.w5{width:235.000000px;}
.w1{width:355.000000px;}
.w3{width:391.000000px;}
.w2{width:419.000000px;}
.w4{width:469.000000px;}
.w0{width:612.000000px;}
.x1{left:0.000000px;}
.x9{left:5.500000px;}
.xa{left:23.500000px;}
.xb{left:41.500000px;}
.x3{left:72.000000px;}
.x4{left:90.000000px;}
.x0{left:108.000000px;}
.x6{left:126.000000px;}
.x7{left:144.000000px;}
.x2{left:155.313004px;}
.x5{left:299.408005px;}
.x8{left:305.500000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._b{width:30.800000pt;}
._7{width:34.026667pt;}
._3{width:37.312000pt;}
._2{width:40.576000pt;}
._4{width:43.840000pt;}
._a{width:47.050667pt;}
._9{width:50.336000pt;}
._1{width:60.544000pt;}
._8{width:63.360000pt;}
._6{width:114.869333pt;}
._0{width:190.373289pt;}
._5{width:454.608000pt;}
.fs5{font-size:32.000000pt;}
.fs1{font-size:48.000000pt;}
.fs2{font-size:58.666667pt;}
.fs4{font-size:64.000000pt;}
.fs6{font-size:74.666667pt;}
.fs0{font-size:85.333333pt;}
.fs3{font-size:106.666667pt;}
.y4{bottom:4.612001pt;}
.y2{bottom:8.199999pt;}
.y3{bottom:48.000005pt;}
.y0{bottom:50.666667pt;}
.y3b{bottom:126.865316pt;}
.y3a{bottom:143.730647pt;}
.y39{bottom:160.595983pt;}
.y23{bottom:174.249349pt;}
.y38{bottom:177.461315pt;}
.y3f{bottom:182.586646pt;}
.y2c{bottom:197.837341pt;}
.y37{bottom:211.191991pt;}
.y2b{bottom:217.232006pt;}
.y36{bottom:228.057327pt;}
.y2a{bottom:236.626700pt;}
.y35{bottom:244.922660pt;}
.y29{bottom:256.533342pt;}
.y34{bottom:278.653325pt;}
.y33{bottom:295.518658pt;}
.y32{bottom:320.383987pt;}
.y31{bottom:337.249324pt;}
.y30{bottom:354.114655pt;}
.y19{bottom:429.038672pt;}
.y1e{bottom:442.097336pt;}
.y3e{bottom:447.150651pt;}
.y1d{bottom:462.680003pt;}
.y1c{bottom:475.821335pt;}
.y3d{bottom:478.373323pt;}
.y1b{bottom:495.728003pt;}
.y14{bottom:500.586660pt;}
.y3c{bottom:505.781347pt;}
.y13{bottom:521.743994pt;}
.y2f{bottom:557.461344pt;}
.y2e{bottom:557.592017pt;}
.y41{bottom:558.654654pt;}
.y12{bottom:561.783981pt;}
.y1a{bottom:571.449300pt;}
.y2d{bottom:578.237336pt;}
.y17{bottom:580.697352pt;}
.y11{bottom:581.178650pt;}
.y40{bottom:583.952017pt;}
.y10{bottom:600.573315pt;}
.y16{bottom:601.342683pt;}
.y22{bottom:602.238664pt;}
.yf{bottom:627.981339pt;}
.ye{bottom:685.298677pt;}
.yd{bottom:724.088004pt;}
.yc{bottom:759.962667pt;}
.yb{bottom:785.260000pt;}
.y28{bottom:789.447998pt;}
.ya{bottom:810.557334pt;}
.y27{bottom:828.237330pt;}
.y9{bottom:835.854665pt;}
.y26{bottom:848.143998pt;}
.y8{bottom:861.151999pt;}
.y21{bottom:874.593333pt;}
.y7{bottom:886.449333pt;}
.y25{bottom:888.184003pt;}
.y20{bottom:895.750668pt;}
.y24{bottom:907.578668pt;}
.y6{bottom:911.746667pt;}
.y18{bottom:925.597336pt;}
.y1f{bottom:934.986666pt;}
.y15{bottom:944.992001pt;}
.y5{bottom:946.242667pt;}
.y1{bottom:1008.396001pt;}
.ha{height:23.328125pt;}
.h5{height:34.992188pt;}
.hc{height:42.710938pt;}
.h6{height:42.768229pt;}
.h8{height:46.593750pt;}
.h9{height:46.656250pt;}
.h2{height:47.603999pt;}
.hb{height:54.359375pt;}
.h3{height:62.125000pt;}
.h4{height:63.472000pt;}
.h7{height:77.760417pt;}
.hd{height:402.538656pt;}
.h1{height:963.333333pt;}
.h0{height:1056.000000pt;}
.w5{width:313.333333pt;}
.w1{width:473.333333pt;}
.w3{width:521.333333pt;}
.w2{width:558.666667pt;}
.w4{width:625.333333pt;}
.w0{width:816.000000pt;}
.x1{left:0.000000pt;}
.x9{left:7.333333pt;}
.xa{left:31.333333pt;}
.xb{left:55.333333pt;}
.x3{left:96.000000pt;}
.x4{left:120.000000pt;}
.x0{left:144.000000pt;}
.x6{left:168.000000pt;}
.x7{left:192.000000pt;}
.x2{left:207.084005pt;}
.x5{left:399.210673pt;}
.x8{left:407.333333pt;}
}
