<div dir="Dashboard">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#fbfbfb" style="border-collapse:collapse;background:#526178;background:-webkit-linear-gradient(bottom,#55647b 0%,#414d60 100%);background:-moz-linear-gradient(bottom,#55647b 0%,#414d60 100%);background:-ms-linear-gradient(bottom,#55647b 0%,#414d60 100%);background:-o-linear-gradient(bottom,#55647b 0%,#414d60 100%);background:linear-gradient(bottom,#55647b 0%,#414d60 100%);text-align:center">
    
    <tbody><tr>
      <td width="100%" height="100"><table width="240" align="center" border="0" cellpadding="40" cellspacing="0">
          <tbody><tr>
            <td width="240" style="color:#fff;font-family:'Raleway',Helvetica,Arial,sans-serif;font-size:30px;text-transform:uppercase;line-height:38px;letter-spacing:1px;text-align:center;font-weight:400"><img src="http://www.elyvt.com/build/images/logo_elevate_main.png" alt="Elevate" width="240" height="85" class="CToWUd"></td>
          </tr>
        </tbody></table></td>
    </tr>
    
    
    <tr>
     {{!--  <td><table width="500" align="center" border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td style="color:#fff;font-family:'Raleway',Helvetica,Arial,sans-serif;font-size:30px;text-transform:uppercase;line-height:38px;letter-spacing:1px;text-align:center;font-weight:400">Elevate <span style="font-weight:700">Weekly Critical Path Dashboard</span></td>
          </tr>
      </tbody></table></td> --}}
    </tr>

    <tr>
      <td width="100%" height="50">&nbsp;</td>
    </tr>


  </tbody></table>




<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#fbfbfb" style="border-collapse:collapse">
      
      <tbody><tr>
        <td width="100%" height="60">&nbsp;</td>
      </tr>
      

      <tr>
        <td>
          <table width="600" align="center" border="0" cellpadding="0" cellspacing="0" style="text-align:center">
            
            <tbody><tr>
              <td style="color:#414d5f;font-family:'Raleway',Helvetica,Arial,sans-serif;font-size:20px;font-weight:700;letter-spacing:.5px;text-transform:uppercase"><h3>Elevate: Please help us answer these questions</h3></td>
            </tr>
            
            
          </tbody></table>
        </td>
      </tr>
      
</tbody></table>


<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#fbfbfb" style="border-collapse:collapse">
  <tbody>
    
  <tr>
    <td height="100"><table width="600" align="center" border="0" cellpadding="0" cellspacing="0" style="text-align:center">
      <table>
      <tbody>
        
      <tr>
        <td style="color:#414d5f;font-family:'Raleway',Helvetica,Arial,sans-serif;font-size:20px;font-weight:700;letter-spacing:.5px;text-transform:uppercase"><h3>Question </h3></td>
      </tr>
    

    </tbody></table></td>
  </tr>

    <tr>
    <td><table width="777" border="0" align="center" cellpadding="7" cellspacing="1" bgcolor="#CCCCCC" id="m_-6927562460427878336overdueTaskstable" style="border-width:1px">
      <tbody>
        <tr>
          <td width="100%" colspan="1" rowspan="1" bgcolor="#FFFFFF" style="font-family:'Raleway',Helvetica,Arial,sans-serif;font-size:16px;text-align:center;font-weight:600">{{{question}}}</td>
        </tr>
      </tbody>
    </table></td>
  </tr>


  <tr>
    <td height="100"><table width="600" align="center" border="0" cellpadding="0" cellspacing="0" style="text-align:center">
      <table>
      <tbody>
        
      <tr>
        <td style="color:#414d5f;font-family:'Raleway',Helvetica,Arial,sans-serif;font-size:16px;font-weight:700;letter-spacing:.5px;"><strong><a href="{{{answerLink}}}">Click here</a></strong> to answer the question</td>
      </tr>
    

    </tbody></table></td>
  </tr>


  <tr>
    <td height="100"><table width="600" align="center" border="0" cellpadding="0" cellspacing="0" style="text-align:center">
      <table>
      <tbody>
        
      <tr>
        <td style="color:#414d5f;font-family:'Raleway',Helvetica,Arial,sans-serif;font-size:14px;font-weight:700;letter-spacing:.5px;"><strong><a href="{{{taskLink}}}">Click here</a> to update the Task</strong></td>
      </tr>
    

    </tbody></table></td>
  </tr>

     
</tbody></table>
<div class="yj6qo ajU"><div id=":29p" class="ajR" role="button" tabindex="0" data-tooltip="Show trimmed content" aria-label="Show trimmed content"><img class="ajT" src="//ssl.gstatic.com/ui/v1/icons/mail/images/cleardot.gif"></div></div><div class="adL">
  </div></div>